@page "/staffs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Staff</h3>
<hr />
<br />


<FormComponent ButtonText="Create Staff" OnValidSubmit="CreateStaff" staff="staff" />


@code {
    Staff staff = new Staff();

    private IList<Hospital>? Hospitals;

    protected async override Task OnInitializedAsync()
    {
        Hospitals = await _client.GetFromJsonAsync<List<Hospital>>($"{Endpoints.HospitalsEndpoint}");
    }

    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffs/");
    }

}