@page "/prescriptions/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Prescription</h3>
<hr />
<br />


<FormComponent ButtonText="Create Prescription" OnValidSubmit="CreatePrescription" prescription="prescription" />


@code {
    Prescription prescription = new Prescription();

    private IList<Consultation>? Consultations;

    protected async override Task OnInitializedAsync()
    {
        Consultations = await _client.GetFromJsonAsync<List<Consultation>>($"{Endpoints.ConsultationsEndpoint}");
    }

    private async Task CreatePrescription()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionsEndpoint, prescription);
        _navManager.NavigateTo("/prescriptions/");
    }

}