@page "/prescriptions/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable

<h3 class="card-title">Healthcare Prescriptions</h3>
<br />

<a href="/prescriptions/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Prescription
</a>
<br />
<br />

@if (Prescriptions == null)
{
    <div class="alert alert-info">Loading Prescriptions...</div>
}
else
{
    <table class="table table-responsive" id="prescriptionsTable">
        <thead>
            <tr>
                <th>Prescription Id</th>
                <th>Description</th>
                <th>Consultation Id</th>
                <th>Actions</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var prescription in Prescriptions)
            {
                <tr>
                    <td>@prescription.Id</td>
                    <td>@prescription.Description</td>
                    <td>@prescription.ConsultationId</td>

					<td>
                        <a href="/prescriptions/view/@prescription.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/prescriptions/edit/@prescription.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(prescription.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Prescription>? Prescriptions;
    private DateTime nullDT = new DateTime(1, 1, 1, 0, 0, 0);

    protected async override Task OnInitializedAsync()
    {
        Prescriptions = await _client.GetFromJsonAsync<List<Prescription>>($"{Endpoints.PrescriptionsEndpoint}");
    }

    async Task Delete(int prescriptionId)
    {
        if (Prescriptions != null)
        {
            var prescription = Prescriptions.First(q => q.Id == prescriptionId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {prescription.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.PrescriptionsEndpoint}/{prescriptionId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#prescriptionsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTableDispose", "#prescriptionsTable");
    }
}