@page "/aboutus"


<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="AboutUs.razor.css">
</head>

@* this is the logo *@
<div class="logo-container">
	<img src="logo.png" alt="logo" class="icon_main">
</div>

@* this is the header with the backgroud div block *@
<div>
	<header class="heading_text">
		<h1>Welcome to HealthCycle.</h1>
		<h2><i>Health first, above everything</i></h2>
	</header>
	<div class="heading_div"></div>
</div>

<div class="content_div">
	<h1 class="about_text">About Us</h1>
	<div class="content_d1">
		<h2>A dedicated team working harmoniously to connect users to the best clinics to ensure physical and mental-wellbeing. Our collective passion drives us to implement innovate programs and resources, creating a lasting impact on the community we serve.</h2>
	</div>
	<img src="doctors.png" class="icon">
</div>
