@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Index.razor.css">
</head>


<body>

	<img src="/images/logo.png" class="icon" style="left: 300px; top: 0px">

	<div>
		@* this is the header *@
		<header class="heading_text">
			<h1>Welcome to HealthCycle.</h1>
			<h2><i>Health first, above everything</i></h2>
		</header>
		<div class="heading_div"></div>
	</div>

    <h2 class="content_header" style="top: 80px;"> Latest COVID-19 news in Singapore</h2>

	<div class="curved-box" style="left: 300px; top: 275px;">
		<a href="https://www.channelnewsasia.com/singapore/covid-19-healthcare-raffles-medical-whitecoat-fullerton-doctors-telehealth-4014936">
			<img src="/images/news1.png" class="news_content">
		</a>
		<h6>There has been a surge of COVID-19 cases. The rise has significantly increased up to 50%...</h6>
		<a href="your-link-url" style="color: black;">-> Click here to find out more</a>
	</div>

	<div class="curved-box" style="left: 700px; top: 275px;">
		<a href="https://www.channelnewsasia.com/commentary/covid19-pandemic-vulnerable-age-cancer-disease-vaccine-antiviral-4053356">
			<img src="/images/news2.png" class="news_content">
		</a>
		<h6>Problems elderies will have to face after contracting covid-19...</h6>
		<a href="your-link-url" style="color: black;">-> Click here to find out more</a>
	</div>

	<div class="curved-box" style="left: 1100px; top: 275px;">
		<a href="https://www.channelnewsasia.com/commentary/covid-19-vaccine-fatigue-new-year-gatherings-boosters-infections-4015816">
			<img src="/images/news3.png" class="news_content">
		</a>
		<h6>Vaccine issues potentially linked with fatigue...</h6>
		<a href="your-link-url" style="color: black;">-> Click here to find out more</a>
	</div>

	
</body>

</html>





