@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Index.razor.css">


	
</head>


<body>
	@* this is the header *@
	<div class="logo-container">
		<img src="logo.png" alt="logo" class="image">
	</div>
	<div>
		<header class="heading_text">
			<h1>Welcome to HealthCycle.</h1>
			<h2><i>Health first, above everything</i></h2>
		</header>

		<div class="heading_div"></div>
	</div>

	@* this is the container *@
	<div class="content_div">

		@* this is the first row *@

		<div class="heading_text">
			<h1>Current News of COVID-19</h1>
		</div>

		<div class="curved-box">
			<h1>herro 1</h1>
			<img src="meme.jpg" alt="Testing" class="image">
		</div>

		<div class="right-boxr1c2">
			<h1>herro 2</h1>
		</div>

		<div class="right-boxr1c3">
			<h1>herro 3</h1>
		</div>

		@* this is the second row *@

		<div class="heading_text">
			<h1>Physical and Mental Well-Being Programmes</h1>
		</div>

		<div class="curved-box">
			<h1>herro 4</h1>
		</div>

		<div class="right-boxr2c2">
			<h1>herro 5</h1>
		</div>

		<div class="right-boxr2c3">
			<h1>herro 6</h1>
		</div>

		@* this is the third row *@

		<div class="heading_text">
			<h1>Health Tools</h1>
		</div>

		<div class="icon-container">
		</div>

		<div class="icon-text1">
			<h1>icon text 1 --></h1>
		</div>

		<div class="icon-container">
		</div>

		<div class="icon-text2">
			<h1>icon text 2 --></h1>
		</div>

		@* this is the about section *@

		<div class="about_div">
			<div class="heading_text">
				<h2>About Us</h2>
			</div>
			<div class="rightlogo-container">
				<img src="logo.png" alt="logo" class="image">
			</div>
		</div>
		
	</div>

	


</body>

</html>