@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Index.razor.css">


	
</head>


<body>

	<div>  @* this is the header *@
		<header class="heading_text">
			<h1>Welcome to HealthCycle.</h1>
			<h2><i>Health first, above everything</i></h2>
		</header>

		<div class="heading_div"></div>
	</div>

	<div class="curved-box">
		This is a curved box!
	</div>

	

	


	


</body>

</html>