.heading_text {
    color: white;
    text-align: center;
    position: relative; /* Add this line to make z-index work */
    z-index: 1; /* Set a positive z-index */
}

.heading_div {
    position: absolute;
    width: 1286px;
    height: 150px;
    background-color: green;
    text-align: center;
    top: 0px;
    left: 250px;
    z-index: 0;
}

.curved-box {
    position: absolute;
    width: 450px;
    height: 450px;
    background-color: #3498db;
    border-radius: 20px; /* Adjust this value to control the amount of curvature */
    padding: 20px;
    color: white;
    text-align: center;
    margin: 50px auto; /* Optional: Center the box */
    top: 200px;
    left: 300px;
}

.content_div {
    position: relative;
    width: 150px;
    height: 250px;
    background-color: antiquewhite;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: 1;
}
