@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="Index.razor.css">


	
</head>


<body>

	<div>  @* this is the header *@
		<header class="heading_text">
			<h1>Welcome to HealthCycle.</h1>
			<h2><i>Health first, above everything</i></h2>
		</header>

		<div class="heading_div"></div>
	</div>


	<div class="content_div">
		<div class="curved-box">
			<h1>herro</h1>
			<img src="meme.jpg" alt="Testing" class="image">
		</div>

		<div class="right-box">
			<h1>herro 2</h1>
		</div>

		<div class="curved-box">
			<h1>herro 1</h1>
		</div>

		<div class="curved-box">
			<h1>herro 4</h1>
		</div>

		
	</div>

	


</body>

</html>