<a href="/@Target/" class="btn btn-outline-darkbtn-block" style="background-color: #198754; color: white">
	<span class="oi oi-arrow-left"></span>
	Back To List
</a>

@code {
	[Parameter] public string Target { get; set; }
}