<a href="/@Target/@Id" class="btn btn-outline-dark btn-block" style="background-color: #198754; color: white">
    <span class="oi oi-arrow-left"></span>
    Back To List
</a>

@code {
    [Parameter] public string Target { get; set; }
    [Parameter] public int? Id { get; set; }
}