@page "/hospitals/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable

<h3 class="card-title">Healthcare Hospitals</h3>
<br />

<a href="/hospitals/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Hospital
</a>
<br />
<br />

@if (Hospitals == null)
{
    <div class="alert alert-info">Loading Hospitals...</div>
}
else
{
    <table class="table table-responsive" id="hospitalsTable">
        <thead>
            <tr>
                <th>Hospital Name</th>
                <th>Hospital Address</th>
                <th>Hospital Postal Code</th>
                <th>Actions</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var hospital in Hospitals)
            {
                <tr>
                    <td>@hospital.Name</td>
                    <td>@hospital.Address</td>
                    <td>@hospital.PostalCode</td>
                    

                    <td>
                        <a href="/hospitals/view/@hospital.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/hospitals/edit/@hospital.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(hospital.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Hospital>? Hospitals;
    private DateTime nullDT = new DateTime(1, 1, 1, 0, 0, 0);

    protected async override Task OnInitializedAsync()
    {
        Hospitals = await _client.GetFromJsonAsync<List<Hospital>>($"{Endpoints.HospitalsEndpoint}");
    }

    async Task Delete(int hospitalId)
    {
        if (Hospitals != null)
        {
            var hospital = Hospitals.First(q => q.Id == hospitalId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {hospital.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.HospitalsEndpoint}/{hospitalId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#hospitalsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTableDispose", "#hospitalsTable");
    }
}