@page "/hospitals/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View Hospital</h3>
<FormComponent hospital="hospital" Disabled="true" />
@code {
	[Parameter] public int id { get; set; }
	Hospital? hospital = new Hospital();
	protected async override Task OnParametersSetAsync()
	{
		hospital = await _client.GetFromJsonAsync<Hospital>($"{Endpoints.HospitalsEndpoint}/{id}");
	}
}